div.star-active
{
	cursor: pointer;
}

div.star-empty
{
	background-image: url(images/empty.svg);
	width:15px;
	height:15px;
	overflow:hidden;
}

div.star-voted
{
	background-image: url(images/voted.svg);
	width:15px;
	height:15px;
	overflow:hidden;
}

div.star-over
{
	background-image: url(images/voted.svg);
	width:15px;
	height:15px;
	overflow:hidden;
}
