.company-introtext {
    margin: 0px 0 34px;
}

.company-introtext > *:not(.toggle-arrow-container) {
    margin-bottom: 55px;
}

.company-introtext > *:last-child {
    margin-top: -55px;
}

.company-introtext .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: 12px;
}

.company-introtext .items p {
    margin: 0px !important;
    padding: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    border-radius: 24px;
    background: #f3f4f6;
}

.company-introtext::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 130px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
}

.company-introtext.expanded::after {
    display:none;
}

.company-text {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.company-text .paragraphs {
    display: flex;
    flex-direction: column;
}

.company-text h1, .company-text h3, .company-text p, .company-text div {
    flex: 1;
}

.company-block h1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 24px;
}

.company-h1-span {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 24px;
	font-weight: bold;
	color: #333;
}

.company-h1 {
	display: inline;
}

.arrow-up, .arrow-down {
    transition: transform 0.5s ease !important;
}

@media (max-width: 991px) {
    .company-introtext .items {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .company-text {
        flex-direction: column;
    }
}